In [1]:
%load_ext sql
%sql postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Airbnb

In [2]:
%%sql 
-- 1. What is the most common room type in NYC Airbnb listings?
-- Insights: This information can be useful for understanding the types of accommodations that are most popular among guests and may be useful for targeting certain types of listings for marketing or promotion.
SELECT 
    room_type, 
    COUNT(room_type) AS count_of_room_type
FROM room_types 
GROUP BY room_type

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Airbnb
3 rows affected.

[('shared room', 587), ('entire home/apt', 13266), ('private room', 11356)]

In [3]:
%%sql
-- 2. What is the average price of a listing by room type?
-- Insights: This information can be useful for understanding the price range of different types of listings and identifying any significant differences between them.
SELECT 
    rt.room_type,
    ROUND(AVG(p.price)::numeric, 2) AS average_price_per_day
FROM room_types rt
LEFT JOIN prices p
    ON rt.listing_id = p.listing_id
GROUP BY rt.room_type

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Airbnb
3 rows affected.

[('shared room', Decimal('53.65')),
 ('entire home/apt', Decimal('197.17')),
 ('private room', Decimal('81.67'))]

In [4]:
%%sql
-- 3. Which borough has the highest average price per month?
-- Insights: This information can help us identify the most expensive borough for Airbnb listings in NYC and may be useful for targeting certain types of guests.
SELECT 
    borough,
    ROUND(AVG(price_per_month)::numeric, 2) AS avg_price_per_month
FROM prices
GROUP BY borough
ORDER BY avg_price_per_month DESC

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Airbnb
5 rows affected.

[('Manhattan', Decimal('5596.69')),
 ('Brooklyn', Decimal('3710.06')),
 ('Queens', Decimal('2823.09')),
 ('Staten Island', Decimal('2617.20')),
 ('Bronx', Decimal('2410.25'))]

In [5]:
%%sql
-- 4. How many listings of each room type are in each borough?
-- Insights: Understanding the distribution of different types of listings across different neighborhoods and boroughs
-- Identifying which types of listings are more popular in certain areas and which areas may have more opportunities for certain types of listings
-- Informing decisions around pricing, marketing, and targeting for hosts and Airbnb as a platform
SELECT 
    p.borough,
    rt.room_type,
    COUNT(rt.room_type) AS count_of_room_type
FROM prices p 
LEFT JOIN room_types rt
    ON p.listing_id = rt.listing_id
GROUP BY 
    p.borough,
    rt.room_type
ORDER BY 
    p.borough,
    rt.room_type

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Airbnb
15 rows affected.

[('Bronx', 'entire home/apt', 261),
 ('Bronx', 'private room', 403),
 ('Bronx', 'shared room', 33),
 ('Brooklyn', 'entire home/apt', 5367),
 ('Brooklyn', 'private room', 4906),
 ('Brooklyn', 'shared room', 187),
 ('Manhattan', 'entire home/apt', 6170),
 ('Manhattan', 'private room', 3901),
 ('Manhattan', 'shared room', 251),
 ('Queens', 'entire home/apt', 1335),
 ('Queens', 'private room', 2009),
 ('Queens', 'shared room', 112),
 ('Staten Island', 'entire home/apt', 133),
 ('Staten Island', 'private room', 132),
 ('Staten Island', 'shared room', 2)]

In [6]:
%%sql
-- 5. How many listings in each room type category have a price of over $500 per night?
-- Insights: This information can be useful for understanding the market for higher-end Airbnb listings and identifying any trends or patterns in the data.
SELECT 
    rt.room_type,
    COUNT(rt.room_type) AS room_count_over_500
FROM prices p
LEFT JOIN room_types rt
    ON p.listing_id = rt.listing_id
WHERE p.price > 500
GROUP BY rt.room_type

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Airbnb
3 rows affected.

[('shared room', 1), ('entire home/apt', 395), ('private room', 19)]

In [7]:
%%sql
-- 6. What is the distribution of listing prices by neighborhood?
-- Insights: This information can help us understand the range of prices in different neighborhoods and identify any outliers or anomalies in the data.
SELECT 
    neighbourhood,
    ROUND(MIN(price)::numeric, 2) AS min_price,
    ROUND(AVG(price)::numeric, 2) AS avg_price,
    ROUND(MAX(price)::numeric, 2) AS max_price
FROM prices
GROUP BY neighbourhood

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Airbnb
216 rows affected.

[(' Morris Heights', Decimal('26.00'), Decimal('58.40'), Decimal('150.00')),
 (' Laurelton', Decimal('34.00'), Decimal('108.23'), Decimal('254.00')),
 (' East Elmhurst', Decimal('16.00'), Decimal('77.42'), Decimal('275.00')),
 (' Ditmars Steinway', Decimal('30.00'), Decimal('90.95'), Decimal('350.00')),
 (' Lower East Side', Decimal('29.00'), Decimal('177.52'), Decimal('2000.00')),
 (' Arden Heights', Decimal('41.00'), Decimal('67.25'), Decimal('83.00')),
 (' Crown Heights', Decimal('24.00'), Decimal('123.59'), Decimal('2500.00')),
 (' Schuylerville', Decimal('20.00'), Decimal('65.91'), Decimal('150.00')),
 (' Jamaica Hills', Decimal('65.00'), Decimal('168.40'), Decimal('325.00')),
 (' St. Albans', Decimal('25.00'), Decimal('102.02'), Decimal('600.00')),
 (' Tompkinsville', Decimal('30.00'), Decimal('78.85'), Decimal('245.00')),
 (' Cypress Hills', Decimal('19.00'), Decimal('89.24'), Decimal('750.00')),
 (' Dyker Heights', Decimal('30.00'), Decimal('95.09'), Decimal('170.00')),
 (' Co-op City', Decimal('75.00'), Decimal('75.00'), Decimal('75.00')),
 (' Midwood', Decimal('26.00'), Decimal('79.82'), Decimal('200.00')),
 (' Howland Hook', Decimal('100.00'), Decimal('100.00'), Decimal('100.00')),
 (' Bronxdale', Decimal('40.00'), Decimal('53.60'), Decimal('79.00')),
 (' Corona', Decimal('23.00'), Decimal('55.67'), Decimal('359.00')),
 (' Stuyvesant Town', Decimal('55.00'), Decimal('139.38'), Decimal('279.00')),
 (' Jamaica Estates', Decimal('35.00'), Decimal('134.00'), Decimal('398.00')),
 (' Jamaica', Decimal('10.00'), Decimal('82.87'), Decimal('485.00')),
 (' New Springville', Decimal('50.00'), Decimal('69.40'), Decimal('119.00')),
 (' Oakwood', Decimal('46.00'), Decimal('76.50'), Decimal('130.00')),
 (' Manhattan Beach', Decimal('45.00'), Decimal('99.83'), Decimal('145.00')),
 (' Eltingville', Decimal('56.00'), Decimal('63.00'), Decimal('70.00')),
 (' Eastchester', Decimal('45.00'), Decimal('131.89'), Decimal('299.00')),
 (' Douglaston', Decimal('40.00'), Decimal('82.75'), Decimal('178.00')),
 (' Huguenot', Decimal('75.00'), Decimal('118.33'), Decimal('180.00')),
 (' Throgs Neck', Decimal('40.00'), Decimal('94.52'), Decimal('325.00')),
 (' DUMBO', Decimal('100.00'), Decimal('189.40'), Decimal('375.00')),
 (' Little Neck', Decimal('45.00'), Decimal('45.00'), Decimal('45.00')),
 (' Long Island City', Decimal('30.00'), Decimal('118.60'), Decimal('600.00')),
 (' Midland Beach', Decimal('90.00'), Decimal('103.33'), Decimal('115.00')),
 (' Upper East Side', Decimal('16.00'), Decimal('173.32'), Decimal('1497.00')),
 (' Flatbush', Decimal('22.00'), Decimal('96.14'), Decimal('1000.00')),
 (' Clason Point', Decimal('40.00'), Decimal('72.93'), Decimal('155.00')),
 (' Gramercy', Decimal('49.00'), Decimal('214.79'), Decimal('1200.00')),
 (' Olinville', Decimal('26.00'), Decimal('53.00'), Decimal('80.00')),
 (' Tremont', Decimal('25.00'), Decimal('55.57'), Decimal('150.00')),
 (' Cambria Heights', Decimal('40.00'), Decimal('86.00'), Decimal('169.00')),
 (' Arverne', Decimal('35.00'), Decimal('165.17'), Decimal('750.00')),
 (' Rosedale', Decimal('22.00'), Decimal('70.46'), Decimal('300.00')),
 (' Dongan Hills', Decimal('37.00'), Decimal('79.43'), Decimal('155.00')),
 (' Boerum Hill', Decimal('50.00'), Decimal('166.49'), Decimal('550.00')),
 (' Kensington', Decimal('34.00'), Decimal('76.43'), Decimal('250.00')),
 (' Kew Gardens', Decimal('35.00'), Decimal('69.17'), Decimal('219.00')),
 (' Cobble Hill', Decimal('70.00'), Decimal('194.00'), Decimal('700.00')),
 (' Breezy Point', Decimal('195.00'), Decimal('195.00'), Decimal('195.00')),
 (' Port Morris', Decimal('28.00'), Decimal('64.75'), Decimal('200.00')),
 (' Concord', Decimal('30.00'), Decimal('53.30'), Decimal('200.00')),
 (' Randall Manor', Decimal('13.00'), Decimal('82.00'), Decimal('149.00')),
 (' Hunts Point', Decimal('35.00'), Decimal('42.75'), Decimal('65.00')),
 (' North Riverdale', Decimal('40.00'), Decimal('55.60'), Decimal('105.00')),
 (' Grymes Hill', Decimal('110.00'), Decimal('162.50'), Decimal('300.00')),
 (' New Brighton', Decimal('40.00'), Decimal('101.80'), Decimal('249.00')),
 (' Rego Park', Decimal('30.00'), Decimal('81.58'), Decimal('288.00')),
 (' Hollis', Decimal('50.00'), Decimal('74.38'), Decimal('150.00')),
 (' Vinegar Hill', Decimal('60.00'), Decimal('150.29'), Decimal('250.00')),
 (' Prospect-Lefferts Gardens', Decimal('22.00'), Decimal('107.82'), Decimal('1400.00')),
 (' Midtown', Decimal('48.00'), Decimal('272.21'), Decimal('5100.00')),
 (' College Point', Decimal('45.00'), Decimal('98.17'), Decimal('400.00')),
 (' Stapleton', Decimal('34.00'), Decimal('86.40'), Decimal('275.00')),
 (' Springfield Gardens', Decimal('40.00'), Decimal('90.01'), Decimal('300.00')),
 (' Roosevelt Island', Decimal('50.00'), Decimal('112.15'), Decimal('250.00')),
 (' Flushing', Decimal('20.00'), Decimal('81.94'), Decimal('500.00')),
 (' Financial District', Decimal('57.00'), Decimal('238.79'), Decimal('850.00')),
 (" Prince's Bay", Decimal('85.00'), Decimal('85.00'), Decimal('85.00')),
 (' Columbia St', Decimal('55.00'), Decimal('132.78'), Decimal('250.00')),
 (' East Harlem', Decimal('30.00'), Decimal('127.17'), Decimal('1500.00')),
 (' SoHo', Decimal('45.00'), Decimal('299.16'), Decimal('3000.00')),
 (' Castleton Corners', Decimal('65.00'), Decimal('182.00'), Decimal('299.00')),
 (' East Flatbush', Decimal('27.00'), Decimal('112.55'), Decimal('7500.00')),
 (' St. George', Decimal('29.00'), Decimal('100.06'), Decimal('195.00')),
 (' Bergen Beach', Decimal('49.00'), Decimal('106.00'), Decimal('235.00')),
 (' Chinatown', Decimal('50.00'), Decimal('162.79'), Decimal('785.00')),
 (' Bay Terrace', Decimal('32.00'), Decimal('110.00'), Decimal('189.00')),
 (' Sea Gate', Decimal('125.00'), Decimal('805.00'), Decimal('1485.00')),
 (' Ridgewood', Decimal('30.00'), Decimal('86.00'), Decimal('375.00')),
 (' Mill Basin', Decimal('85.00'), Decimal('179.75'), Decimal('299.00')),
 (' Silver Lake', Decimal('60.00'), Decimal('70.00'), Decimal('80.00')),
 (' Ozone Park', Decimal('39.00'), Decimal('89.92'), Decimal('199.00')),
 (' Arrochar', Decimal('32.00'), Decimal('91.58'), Decimal('250.00')),
 (' Morrisania', Decimal('23.00'), Decimal('78.00'), Decimal('150.00')),
 (' Rosebank', Decimal('55.00'), Decimal('111.86'), Decimal('200.00')),
 (' Rossville', Decimal('75.00'), Decimal('75.00'), Decimal('75.00')),
 (' Gowanus', Decimal('35.00'), Decimal('163.36'), Decimal('619.00')),
 (' Mount Hope', Decimal('24.00'), Decimal('91.31'), Decimal('250.00')),
 (' Wakefield', Decimal('35.00'), Decimal('77.72'), Decimal('309.00')),
 (" Hell's Kitchen", Decimal('35.00'), Decimal('190.73'), Decimal('2200.00')),
 (' Whitestone', Decimal('35.00'), Decimal('62.17'), Decimal('140.00')),
 (' Sheepshead Bay', Decimal('20.00'), Decimal('82.16'), Decimal('400.00')),
 (' City Island', Decimal('29.00'), Decimal('95.42'), Decimal('175.00')),
 (' Mount Eden', Decimal('30.00'), Decimal('42.50'), Decimal('55.00')),
 (' Willowbrook', Decimal('249.00'), Decimal('249.00'), Decimal('249.00')),
 (' NoHo', Decimal('80.00'), Decimal('335.02'), Decimal('1795.00')),
 (' New Dorp Beach', Decimal('36.00'), Decimal('38.00'), Decimal('40.00')),
 (' Rockaway Beach', Decimal('49.00'), Decimal('135.76'), Decimal('545.00')),
 (' Concourse', Decimal('35.00'), Decimal('77.93'), Decimal('250.00')),
 (' Sunnyside', Decimal('29.00'), Decimal('83.22'), Decimal('261.00')),
 (' Clifton', Decimal('40.00'), Decimal('80.40'), Decimal('165.00')),
 (' Highbridge', Decimal('40.00'), Decimal('75.45'), Decimal('240.00')),
 (' Tottenville', Decimal('70.00'), Decimal('160.80'), Decimal('299.00')),
 (' Bay Ridge', Decimal('18.00'), Decimal('115.19'), Decimal('800.00')),
 (' East New York', Decimal('25.00'), Decimal('87.68'), Decimal('300.00')),
 (' Belmont', Decimal('24.00'), Decimal('91.88'), Decimal('299.00')),
 (' Pelham Bay', Decimal('59.00'), Decimal('114.40'), Decimal('299.00')),
 (' Woodhaven', Decimal('29.00'), Decimal('61.58'), Decimal('199.00')),
 (' Unionport', Decimal('75.00'), Decimal('90.00'), Decimal('100.00')),
 (' Howard Beach', Decimal('40.00'), Decimal('129.17'), Decimal('250.00')),
 (' Two Bridges', Decimal('55.00'), Decimal('126.50'), Decimal('320.00')),
 (' Greenwich Village', Decimal('43.00'), Decimal('239.23'), Decimal('1099.00')),
 (' Fresh Meadows', Decimal('39.00'), Decimal('90.96'), Decimal('375.00')),
 (' Middle Village', Decimal('28.00'), Decimal('106.59'), Decimal('265.00')),
 (' Neponsit', Decimal('200.00'), Decimal('274.67'), Decimal('350.00')),
 (' Castle Hill', Decimal('62.00'), Decimal('74.00'), Decimal('86.00')),
 (' Parkchester', Decimal('25.00'), Decimal('55.83'), Decimal('139.00')),
 (' Lighthouse Hill', Decimal('115.00'), Decimal('115.00'), Decimal('115.00')),
 (' Forest Hills', Decimal('16.00'), Decimal('104.61'), Decimal('900.00')),
 (' Great Kills', Decimal('40.00'), Decimal('93.71'), Decimal('235.00')),
 (' Shore Acres', Decimal('75.00'), Decimal('105.00'), Decimal('165.00')),
 (' Coney Island', Decimal('25.00'), Decimal('128.67'), Decimal('450.00')),
 (' Spuyten Duyvil', Decimal('60.00'), Decimal('180.00'), Decimal('360.00')),
 (' Queens Village', Decimal('25.00'), Decimal('77.75'), Decimal('200.00')),
 (' Brownsville', Decimal('29.00'), Decimal('79.93'), Decimal('300.00')),
 (' Fort Greene', Decimal('25.00'), Decimal('158.25'), Decimal('999.00')),
 (' Emerson Hill', Decimal('49.00'), Decimal('63.50'), Decimal('78.00')),
 (' Melrose', Decimal('49.00'), Decimal('89.50'), Decimal('150.00')),
 (' Williamsbridge', Decimal('34.00'), Decimal('100.62'), Decimal('350.00')),
 (' Elmhurst', Decimal('15.00'), Decimal('80.97'), Decimal('400.00')),
 (' Port Richmond', Decimal('40.00'), Decimal('48.80'), Decimal('55.00')),
 (' Norwood', Decimal('26.00'), Decimal('72.33'), Decimal('200.00')),
 (' Van Nest', Decimal('20.00'), Decimal('58.56'), Decimal('150.00')),
 (' Upper West Side', Decimal('30.00'), Decimal('181.14'), Decimal('3613.00')),
 (' Harlem', Decimal('16.00'), Decimal('121.75'), Decimal('5000.00')),
 (' Downtown Brooklyn', Decimal('49.00'), Decimal('173.14'), Decimal('650.00')),
 (' West Village', Decimal('50.00'), Decimal('258.76'), Decimal('1500.00')),
 (' Prospect Heights', Decimal('35.00'), Decimal('153.04'), Decimal('1750.00')),
 (' Maspeth', Decimal('26.00'), Decimal('93.94'), Decimal('245.00')),
 (' Navy Yard', Decimal('125.00'), Decimal('180.83'), Decimal('295.00')),
 (' Park Slope', Decimal('30.00'), Decimal('178.36'), Decimal('995.00')),
 (' Borough Park', Decimal('20.00'), Decimal('64.95'), Decimal('300.00')),
 (' Bedford-Stuyvesant', Decimal('10.00'), Decimal('104.77'), Decimal('1067.00')),
 (' Belle Harbor', Decimal('97.00'), Decimal('166.40'), Decimal('225.00')),
 (' Mott Haven', Decimal('35.00'), Decimal('84.15'), Decimal('150.00')),
 (' Brooklyn Heights', Decimal('50.00'), Decimal('213.31'), Decimal('1095.00')),
 (' Woodside', Decimal('30.00'), Decimal('87.59'), Decimal('300.00')),
 (' Soundview', Decimal('28.00'), Decimal('54.70'), Decimal('103.00')),
 (' Kingsbridge', Decimal('30.00'), Decimal('80.49'), Decimal('399.00')),
 (' Flatiron District', Decimal('65.00'), Decimal('342.06'), Decimal('1500.00')),
 (' Gravesend', Decimal('20.00'), Decimal('76.22'), Decimal('200.00')),
 (' University Heights', Decimal('37.00'), Decimal('60.08'), Decimal('175.00')),
 (' Little Italy', Decimal('58.00'), Decimal('168.52'), Decimal('699.00')),
 (' Bayswater', Decimal('45.00'), Decimal('93.33'), Decimal('230.00')),
 (' Woodlawn', Decimal('29.00'), Decimal('56.88'), Decimal('85.00')),
 (' Richmondtown', Decimal('78.00'), Decimal('78.00'), Decimal('78.00')),
 (' South Slope', Decimal('40.00'), Decimal('143.17'), Decimal('399.00')),
 (' Windsor Terrace', Decimal('38.00'), Decimal('119.26'), Decimal('450.00')),
 (' Todt Hill', Decimal('50.00'), Decimal('82.33'), Decimal('135.00')),
 (' Red Hook', Decimal('38.00'), Decimal('144.60'), Decimal('750.00')),
 (' Canarsie', Decimal('25.00'), Decimal('93.41'), Decimal('300.00')),
 (' Theater District', Decimal('40.00'), Decimal('234.23'), Decimal('1195.00')),
 (' Tribeca', Decimal('80.00'), Decimal('396.70'), Decimal('2000.00')),
 (' Inwood', Decimal('22.00'), Decimal('85.94'), Decimal('300.00')),
 (' Bushwick', Decimal('10.00'), Decimal('91.34'), Decimal('2000.00')),
 (' Westchester Square', Decimal('28.00'), Decimal('127.44'), Decimal('670.00')),
 (' Marble Hill', Decimal('44.00'), Decimal('87.50'), Decimal('131.00')),
 (' Allerton', Decimal('35.00'), Decimal('98.93'), Decimal('450.00')),
 (' Carroll Gardens', Decimal('49.00'), Decimal('171.36'), Decimal('1395.00')),
 (' Washington Heights', Decimal('20.00'), Decimal('90.76'), Decimal('750.00')),
 (' Greenpoint', Decimal('10.00'), Decimal('138.72'), Decimal('650.00')),
 (' Morris Park', Decimal('29.00'), Decimal('76.91'), Decimal('190.00')),
 (' Bath Beach', Decimal('33.00'), Decimal('84.00'), Decimal('180.00')),
 (' West Brighton', Decimal('40.00'), Decimal('67.14'), Decimal('125.00')),
 (" Bull's Head", Decimal('25.00'), Decimal('48.00'), Decimal('80.00')),
 (' Pelham Gardens', Decimal('35.00'), Decimal('89.04'), Decimal('450.00')),
 (' Riverdale', Decimal('65.00'), Decimal('147.80'), Decimal('250.00')),
 (' Concourse Village', Decimal('35.00'), Decimal('68.44'), Decimal('150.00')),
 (' Civic Center', Decimal('75.00'), Decimal('204.71'), Decimal('590.00')),
 (' West Farms', Decimal('165.00'), Decimal('165.00'), Decimal('165.00')),
 (' Claremont Village', Decimal('26.00'), Decimal('63.00'), Decimal('150.00')),
 (' Kew Gardens Hills', Decimal('40.00'), Decimal('94.33'), Decimal('250.00')),
 (' Astoria', Decimal('25.00'), Decimal('100.55'), Decimal('700.00')),
 (' East Morrisania', Decimal('55.00'), Decimal('94.44'), Decimal('200.00')),
 (' Longwood', Decimal('27.00'), Decimal('73.06'), Decimal('159.00')),
 (' Kips Bay', Decimal('10.00'), Decimal('197.09'), Decimal('790.00')),
 (' East Village', Decimal('30.00'), Decimal('184.28'), Decimal('2500.00')),
 (' Williamsburg', Decimal('25.00'), Decimal('148.78'), Decimal('1000.00')),
 (' Murray Hill', Decimal('43.00'), Decimal('240.37'), Decimal('1177.00')),
 (' Mariners Harbor', Decimal('40.00'), Decimal('86.17'), Decimal('150.00')),
 (' Chelsea', Decimal('12.00'), Decimal('222.04'), Decimal('2995.00')),
 (' Nolita', Decimal('65.00'), Decimal('230.43'), Decimal('2990.00')),
 (' Far Rockaway', Decimal('35.00'), Decimal('86.20'), Decimal('250.00')),
 (' Fort Hamilton', Decimal('20.00'), Decimal('92.57'), Decimal('200.00')),
 (' Bayside', Decimal('30.00'), Decimal('185.96'), Decimal('2600.00')),
 (' Fordham', Decimal('22.00'), Decimal('67.51'), Decimal('200.00')),
 (' Morningside Heights', Decimal('45.00'), Decimal('116.48'), Decimal('450.00')),
 (' Grant City', Decimal('30.00'), Decimal('60.50'), Decimal('80.00')),
 (' South Beach', Decimal('35.00'), Decimal('99.14'), Decimal('275.00')),
 (' Bellerose', Decimal('55.00'), Decimal('80.50'), Decimal('105.00')),
 (' Holliswood', Decimal('79.00'), Decimal('159.00'), Decimal('239.00')),
 (' South Ozone Park', Decimal('30.00'), Decimal('91.97'), Decimal('400.00')),
 (' Baychester', Decimal('53.00'), Decimal('78.60'), Decimal('101.00')),
 (' Bensonhurst', Decimal('25.00'), Decimal('76.31'), Decimal('145.00')),
 (' Battery Park City', Decimal('55.00'), Decimal('163.80'), Decimal('350.00')),
 (' Graniteville', Decimal('20.00'), Decimal('68.67'), Decimal('115.00')),
 (' Flatlands', Decimal('22.00'), Decimal('97.41'), Decimal('300.00')),
 (' Edgemere', Decimal('43.00'), Decimal('102.43'), Decimal('200.00')),
 (' Glendale', Decimal('25.00'), Decimal('91.95'), Decimal('299.00')),
 (' Clinton Hill', Decimal('36.00'), Decimal('164.45'), Decimal('999.00')),
 (' Fieldston', Decimal('49.00'), Decimal('76.33'), Decimal('135.00')),
 (' Richmond Hill', Decimal('33.00'), Decimal('87.23'), Decimal('300.00')),
 (' Sunset Park', Decimal('22.00'), Decimal('100.51'), Decimal('750.00')),
 (' Brighton Beach', Decimal('30.00'), Decimal('87.70'), Decimal('275.00')),
 (' Jackson Heights', Decimal('26.00'), Decimal('79.82'), Decimal('260.00')),
 (' Edenwald', Decimal('42.00'), Decimal('80.14'), Decimal('149.00')),
 (' Briarwood', Decimal('30.00'), Decimal('72.06'), Decimal('249.00'))]

In [8]:
%%sql
-- 7. What is the estimated amount of revenue generated by hosts in each borough?
-- Insights: This information can help us understand which boroughs have the highest revenue potential for their hosts.
SELECT
    p.borough,
    TO_CHAR(SUM(r.booked_days_365 * p.price), '999,999,999') AS borough_annual_revenue
FROM reviews r
LEFT JOIN prices p
    ON r.listing_id = p.listing_id
WHERE p.borough IS NOT NULL
GROUP BY p.borough
ORDER BY borough_annual_revenue DESC

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Airbnb
5 rows affected.

[('Manhattan', ' 393,420,567'),
 ('Brooklyn', ' 279,130,240'),
 ('Queens', '  58,404,083'),
 ('Bronx', '   9,324,180'),
 ('Staten Island', '   3,443,919')]

In [9]:
%%sql
-- 8. What is the average price per month for listings in each neighborhood?
-- Insights: This information can help us identify the most popular neighborhoods for Airbnb listings in NYC and may be useful for targeting certain types of guests.
SELECT 
    borough,
    neighbourhood,
    ROUND(AVG(price_per_month)::numeric, 2) as avg_price_per_month
FROM prices 
GROUP BY
    borough,
    neighbourhood
ORDER BY 
    borough,
    neighbourhood

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Airbnb
217 rows affected.

[('Bronx', ' Allerton', Decimal('3009.22')),
 ('Bronx', ' Baychester', Decimal('2390.75')),
 ('Bronx', ' Belmont', Decimal('2794.53')),
 ('Bronx', ' Bronxdale', Decimal('1630.33')),
 ('Bronx', ' Castle Hill', Decimal('2250.83')),
 ('Bronx', ' City Island', Decimal('2902.26')),
 ('Bronx', ' Claremont Village', Decimal('1916.25')),
 ('Bronx', ' Clason Point', Decimal('2218.39')),
 ('Bronx', ' Co-op City', Decimal('2281.25')),
 ('Bronx', ' Concourse', Decimal('2370.47')),
 ('Bronx', ' Concourse Village', Decimal('2081.85')),
 ('Bronx', ' East Morrisania', Decimal('2872.69')),
 ('Bronx', ' Eastchester', Decimal('4011.62')),
 ('Bronx', ' Edenwald', Decimal('2437.68')),
 ('Bronx', ' Fieldston', Decimal('2321.81')),
 ('Bronx', ' Fordham', Decimal('2053.54')),
 ('Bronx', ' Highbridge', Decimal('2294.94')),
 ('Bronx', ' Hunts Point', Decimal('1300.31')),
 ('Bronx', ' Kingsbridge', Decimal('2448.17')),
 ('Bronx', ' Longwood', Decimal('2222.21')),
 ('Bronx', ' Melrose', Decimal('2722.29')),
 ('Bronx', ' Morris Heights', Decimal('1776.33')),
 ('Bronx', ' Morris Park', Decimal('2339.32')),
 ('Bronx', ' Morrisania', Decimal('2372.50')),
 ('Bronx', ' Mott Haven', Decimal('2559.63')),
 ('Bronx', ' Mount Eden', Decimal('1292.71')),
 ('Bronx', ' Mount Hope', Decimal('2777.28')),
 ('Bronx', ' North Riverdale', Decimal('1691.17')),
 ('Bronx', ' Norwood', Decimal('2200.14')),
 ('Bronx', ' Olinville', Decimal('1612.08')),
 ('Bronx', ' Parkchester', Decimal('1698.04')),
 ('Bronx', ' Pelham Bay', Decimal('3479.67')),
 ('Bronx', ' Pelham Gardens', Decimal('2708.30')),
 ('Bronx', ' Port Morris', Decimal('1969.48')),
 ('Bronx', ' Riverdale', Decimal('4495.58')),
 ('Bronx', ' Schuylerville', Decimal('2004.73')),
 ('Bronx', ' Soundview', Decimal('1663.79')),
 ('Bronx', ' Spuyten Duyvil', Decimal('5475.00')),
 ('Bronx', ' Throgs Neck', Decimal('2875.10')),
 ('Bronx', ' Tremont', Decimal('1690.30')),
 ('Bronx', ' Unionport', Decimal('2737.50')),
 ('Bronx', ' University Heights', Decimal('1827.53')),
 ('Bronx', ' Van Nest', Decimal('1781.06')),
 ('Bronx', ' Wakefield', Decimal('2364.05')),
 ('Bronx', ' West Farms', Decimal('5018.75')),
 ('Bronx', ' Westchester Square', Decimal('3876.44')),
 ('Bronx', ' Williamsbridge', Decimal('3060.38')),
 ('Bronx', ' Woodlawn', Decimal('1729.95')),
 ('Brooklyn', ' Bath Beach', Decimal('2555.00')),
 ('Brooklyn', ' Bay Ridge', Decimal('3503.78')),
 ('Brooklyn', ' Bedford-Stuyvesant', Decimal('3186.90')),
 ('Brooklyn', ' Bensonhurst', Decimal('2321.08')),
 ('Brooklyn', ' Bergen Beach', Decimal('3224.17')),
 ('Brooklyn', ' Boerum Hill', Decimal('5063.99')),
 ('Brooklyn', ' Borough Park', Decimal('1975.48')),
 ('Brooklyn', ' Brighton Beach', Decimal('2667.61')),
 ('Brooklyn', ' Brooklyn Heights', Decimal('6488.31')),
 ('Brooklyn', ' Brownsville', Decimal('2431.35')),
 ('Brooklyn', ' Bushwick', Decimal('2778.29')),
 ('Brooklyn', ' Canarsie', Decimal('2841.19')),
 ('Brooklyn', ' Carroll Gardens', Decimal('5212.26')),
 ('Brooklyn', ' Clinton Hill', Decimal('5002.14')),
 ('Brooklyn', ' Cobble Hill', Decimal('5900.83')),
 ('Brooklyn', ' Columbia St', Decimal('4038.80')),
 ('Brooklyn', ' Coney Island', Decimal('3913.61')),
 ('Brooklyn', ' Crown Heights', Decimal('3759.29')),
 ('Brooklyn', ' Cypress Hills', Decimal('2714.34')),
 ('Brooklyn', ' DUMBO', Decimal('5760.92')),
 ('Brooklyn', ' Downtown Brooklyn', Decimal('5266.19')),
 ('Brooklyn', ' Dyker Heights', Decimal('2892.35')),
 ('Brooklyn', ' East Flatbush', Decimal('3423.33')),
 ('Brooklyn', ' East New York', Decimal('2667.05')),
 ('Brooklyn', ' Flatbush', Decimal('2924.12')),
 ('Brooklyn', ' Flatlands', Decimal('2962.83')),
 ('Brooklyn', ' Fort Greene', Decimal('4813.44')),
 ('Brooklyn', ' Fort Hamilton', Decimal('2815.57')),
 ('Brooklyn', ' Gowanus', Decimal('4969.02')),
 ('Brooklyn', ' Gravesend', Decimal('2318.43')),
 ('Brooklyn', ' Greenpoint', Decimal('4219.34')),
 ('Brooklyn', ' Kensington', Decimal('2324.59')),
 ('Brooklyn', ' Manhattan Beach', Decimal('3036.60')),
 ('Brooklyn', ' Midwood', Decimal('2427.97')),
 ('Brooklyn', ' Mill Basin', Decimal('5467.40')),
 ('Brooklyn', ' Navy Yard', Decimal('5500.35')),
 ('Brooklyn', ' Park Slope', Decimal('5425.19')),
 ('Brooklyn', ' Prospect Heights', Decimal('4655.01')),
 ('Brooklyn', ' Prospect-Lefferts Gardens', Decimal('3279.37')),
 ('Brooklyn', ' Red Hook', Decimal('4398.25')),
 ('Brooklyn', ' Sea Gate', Decimal('24485.42')),
 ('Brooklyn', ' Sheepshead Bay', Decimal('2498.97')),
 ('Brooklyn', ' South Slope', Decimal('4354.89')),
 ('Brooklyn', ' Sunset Park', Decimal('3057.23')),
 ('Brooklyn', ' Vinegar Hill', Decimal('4571.19')),
 ('Brooklyn', ' Williamsburg', Decimal('4525.47')),
 ('Brooklyn', ' Windsor Terrace', Decimal('3627.61')),
 ('Manhattan', ' Battery Park City', Decimal('4982.25')),
 ('Manhattan', ' Chelsea', Decimal('6753.57')),
 ('Manhattan', ' Chinatown', Decimal('4951.59')),
 ('Manhattan', ' Civic Center', Decimal('6226.73')),
 ('Manhattan', ' East Harlem', Decimal('3868.12')),
 ('Manhattan', ' East Village', Decimal('5605.24')),
 ('Manhattan', ' Financial District', Decimal('7263.16')),
 ('Manhattan', ' Flatiron District', Decimal('10404.19')),
 ('Manhattan', ' Gramercy', Decimal('6533.15')),
 ('Manhattan', ' Greenwich Village', Decimal('7276.59')),
 ('Manhattan', ' Harlem', Decimal('3703.33')),
 ('Manhattan', " Hell's Kitchen", Decimal('5801.40')),
 ('Manhattan', ' Inwood', Decimal('2614.01')),
 ('Manhattan', ' Kips Bay', Decimal('5994.92')),
 ('Manhattan', ' Little Italy', Decimal('5125.89')),
 ('Manhattan', ' Lower East Side', Decimal('5399.45')),
 ('Manhattan', ' Marble Hill', Decimal('2661.46')),
 ('Manhattan', ' Midtown', Decimal('8279.84')),
 ('Manhattan', ' Morningside Heights', Decimal('3542.86')),
 ('Manhattan', ' Murray Hill', Decimal('7311.16')),
 ('Manhattan', ' NoHo', Decimal('10190.33')),
 ('Manhattan', ' Nolita', Decimal('7008.98')),
 ('Manhattan', ' Roosevelt Island', Decimal('3411.28')),
 ('Manhattan', ' SoHo', Decimal('9099.52')),
 ('Manhattan', ' Stuyvesant Town', Decimal('4239.62')),
 ('Manhattan', ' Theater District', Decimal('7124.54')),
 ('Manhattan', ' Tribeca', Decimal('12066.44')),
 ('Manhattan', ' Two Bridges', Decimal('3847.71')),
 ('Manhattan', ' Upper East Side', Decimal('5271.84')),
 ('Manhattan', ' Upper West Side', Decimal('5509.66')),
 ('Manhattan', ' Washington Heights', Decimal('2760.54')),
 ('Manhattan', ' West Village', Decimal('7870.69')),
 ('Queens', ' Arverne', Decimal('5023.82')),
 ('Queens', ' Astoria', Decimal('3058.37')),
 ('Queens', ' Bay Terrace', Decimal('3764.06')),
 ('Queens', ' Bayside', Decimal('5656.41')),
 ('Queens', ' Bayswater', Decimal('2838.89')),
 ('Queens', ' Belle Harbor', Decimal('5061.33')),
 ('Queens', ' Bellerose', Decimal('2448.54')),
 ('Queens', ' Breezy Point', Decimal('5931.25')),
 ('Queens', ' Briarwood', Decimal('2191.84')),
 ('Queens', ' Cambria Heights', Decimal('2615.83')),
 ('Queens', ' College Point', Decimal('2985.90')),
 ('Queens', ' Corona', Decimal('1693.39')),
 ('Queens', ' Ditmars Steinway', Decimal('2766.33')),
 ('Queens', ' Douglaston', Decimal('2516.98')),
 ('Queens', ' East Elmhurst', Decimal('2354.87')),
 ('Queens', ' Edgemere', Decimal('3115.54')),
 ('Queens', ' Elmhurst', Decimal('2462.97')),
 ('Queens', ' Far Rockaway', Decimal('2621.92')),
 ('Queens', ' Flushing', Decimal('2492.36')),
 ('Queens', ' Forest Hills', Decimal('3181.92')),
 ('Queens', ' Fresh Meadows', Decimal('2766.70')),
 ('Queens', ' Glendale', Decimal('2796.77')),
 ('Queens', ' Hollis', Decimal('2262.24')),
 ('Queens', ' Holliswood', Decimal('4836.25')),
 ('Queens', ' Howard Beach', Decimal('3928.82')),
 ('Queens', ' Jackson Heights', Decimal('2427.72')),
 ('Queens', ' Jamaica', Decimal('2520.62')),
 ('Queens', ' Jamaica Estates', Decimal('4075.83')),
 ('Queens', ' Jamaica Hills', Decimal('5122.17')),
 ('Queens', ' Kew Gardens', Decimal('2103.82')),
 ('Queens', ' Kew Gardens Hills', Decimal('2869.31')),
 ('Queens', ' Laurelton', Decimal('3292.02')),
 ('Queens', ' Little Neck', Decimal('1368.75')),
 ('Queens', ' Long Island City', Decimal('3607.40')),
 ('Queens', ' Maspeth', Decimal('2857.38')),
 ('Queens', ' Middle Village', Decimal('3242.14')),
 ('Queens', ' Neponsit', Decimal('8354.44')),
 ('Queens', ' Ozone Park', Decimal('2735.16')),
 ('Queens', ' Queens Village', Decimal('2364.90')),
 ('Queens', ' Rego Park', Decimal('2481.49')),
 ('Queens', ' Richmond Hill', Decimal('2653.38')),
 ('Queens', ' Ridgewood', Decimal('2615.83')),
 ('Queens', ' Rockaway Beach', Decimal('4129.25')),
 ('Queens', ' Rosedale', Decimal('2143.26')),
 ('Queens', ' South Ozone Park', Decimal('2797.38')),
 ('Queens', ' Springfield Gardens', Decimal('2737.92')),
 ('Queens', ' St. Albans', Decimal('3103.02')),
 ('Queens', ' Sunnyside', Decimal('2531.24')),
 ('Queens', ' Whitestone', Decimal('1890.90')),
 ('Queens', ' Woodhaven', Decimal('1873.08')),
 ('Queens', ' Woodside', Decimal('2664.21')),
 ('Staten Island', ' Arden Heights', Decimal('2045.52')),
 ('Staten Island', ' Arrochar', Decimal('2785.53')),
 ('Staten Island', ' Bay Terrace', Decimal('1672.92')),
 ('Staten Island', " Bull's Head", Decimal('1460.00')),
 ('Staten Island', ' Castleton Corners', Decimal('5535.83')),
 ('Staten Island', ' Clifton', Decimal('2445.50')),
 ('Staten Island', ' Concord', Decimal('1621.21')),
 ('Staten Island', ' Dongan Hills', Decimal('2415.95')),
 ('Staten Island', ' Eltingville', Decimal('1916.25')),
 ('Staten Island', ' Emerson Hill', Decimal('1931.46')),
 ('Staten Island', ' Graniteville', Decimal('2088.61')),
 ('Staten Island', ' Grant City', Decimal('1840.21')),
 ('Staten Island', ' Great Kills', Decimal('2850.48')),
 ('Staten Island', ' Grymes Hill', Decimal('4942.71')),
 ('Staten Island', ' Howland Hook', Decimal('3041.67')),
 ('Staten Island', ' Huguenot', Decimal('3599.31')),
 ('Staten Island', ' Lighthouse Hill', Decimal('3497.92')),
 ('Staten Island', ' Mariners Harbor', Decimal('2620.90')),
 ('Staten Island', ' Midland Beach', Decimal('3143.06')),
 ('Staten Island', ' New Brighton', Decimal('3096.42')),
 ('Staten Island', ' New Dorp Beach', Decimal('1155.83')),
 ('Staten Island', ' New Springville', Decimal('2110.92')),
 ('Staten Island', ' Oakwood', Decimal('2326.88')),
 ('Staten Island', ' Port Richmond', Decimal('1484.33')),
 ('Staten Island', " Prince's Bay", Decimal('2585.42')),
 ('Staten Island', ' Randall Manor', Decimal('2494.17')),
 ('Staten Island', ' Richmondtown', Decimal('2372.50')),
 ('Staten Island', ' Rosebank', Decimal('3402.32')),
 ('Staten Island', ' Rossville', Decimal('2281.25')),
 ('Staten Island', ' Shore Acres', Decimal('3193.75')),
 ('Staten Island', ' Silver Lake', Decimal('2129.17')),
 ('Staten Island', ' South Beach', Decimal('3015.60')),
 ('Staten Island', ' St. George', Decimal('3043.57')),
 ('Staten Island', ' Stapleton', Decimal('2628.00')),
 ('Staten Island', ' Todt Hill', Decimal('2504.31')),
 ('Staten Island', ' Tompkinsville', Decimal('2398.31')),
 ('Staten Island', ' Tottenville', Decimal('4891.00')),
 ('Staten Island', ' West Brighton', Decimal('2042.26')),
 ('Staten Island', ' Willowbrook', Decimal('7573.75'))]

In [10]:
%%sql
-- 9. How many listings have no reviews?
-- Insights: This information can be useful for identifying potential opportunities for improvement in the market, such as encouraging more guests to leave reviews.
-- Use a COUNT statement to count the number of listings that do not appear in the reviews table.
SELECT 
    COUNT(*) AS listings_with_no_reviews
FROM reviews
WHERE number_of_reviews = 0

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Airbnb
1 rows affected.

[(0,)]

In [11]:
%%sql
-- 10. How do the estimated book days correlate with the price of an Airbnb listing in New York City?
-- Insights: This analysis can help businesses understand whether there is a relationship between the prices and estimated book days. This can help set pricing strategies and understand the factors that influence the price of a listing.
SELECT 
    CORR(r.booked_days_365, p.price) AS correlation_coefficient
FROM prices p
LEFT JOIN reviews r
    ON p.listing_id = r.listing_id

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Airbnb
1 rows affected.

[(-0.07963883976667008,)]

In [ ]:
MAYBE do the bonus questions...