In [60]:
%load_ext sql
%sql postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [63]:
%%sql
-- 1. How many times was the app downloaded?
SELECT
    COUNT(*) AS app_downloaded
FROM app_downloads

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(23608,)]

In [64]:
%%sql
-- 2. How many users signed up on the app?
SELECT 
    COUNT(s.session_id) AS user_signup_through_app
FROM app_downloads ad
LEFT JOIN signups s 
    ON ad.app_download_key = s.session_id
WHERE 
    ad.platform = 'android' OR ad.platform = 'ios'

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(15876,)]

In [65]:
%%sql
-- 3. How many rides were requested through the app?
SELECT
    COUNT(rr.request_ts) AS rides_requested_through_app
FROM app_downloads ad
LEFT JOIN signups s
    ON ad.app_download_key = s.session_id
LEFT JOIN ride_requests rr
    ON s.user_id = rr.user_id
WHERE rr.user_id IN
    (SELECT s.user_id FROM signups s
     WHERE ad.platform = 'android' OR ad.app_download_key = 'ios')

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(112317,)]

In [66]:
%%sql
-- .4 How many rides were completed through the app?
SELECT 
    COUNT(rr.dropoff_ts) AS rides_completed_through_app
FROM app_downloads ad
LEFT JOIN signups s
    ON ad.app_download_key = s.session_id
LEFT JOIN ride_requests rr
    ON s.user_id = rr.user_id
WHERE rr.user_id IN
    (SELECT s.user_id FROM signups s
     WHERE ad.platform = 'android' OR ad.app_download_key = 'ios')

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(65431,)]

In [67]:
%%sql
-- 5(1). How many rides were requested?
SELECT 
    COUNT(request_ts) AS rides_requested
FROM ride_requests

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(385477,)]

In [68]:
%%sql
-- 5(2). How many unique users requested a ride? 
SELECT 
    COUNT(DISTINCT user_id) AS unique_ride_requesters
FROM ride_requests

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(12406,)]

In [69]:
%%sql
-- 6. What is the average time of a ride from pick up to drop off?
SELECT 
    AVG(dropoff_ts - pickup_ts) AS avg_ride_time
FROM ride_requests

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(datetime.timedelta(seconds=3156, microseconds=738773),)]

In [70]:
%%sql
-- 7. How many rides were accepted by a driver?
SELECT 
    COUNT(accept_ts) AS rides_accepted_by_driver
FROM ride_requests

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(248379,)]

In [71]:
%%sql
-- 8(1). How many rides did we successfully collect payment from?
SELECT 
    COUNT(*) AS num_of_rides_paid_for
FROM transactions

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(223652,)]

In [72]:
%%sql
-- 8(2). How much was collected in payments?
SELECT 
    TO_CHAR(ROUND(SUM(purchase_amount_usd)::numeric, 2), '9,999,999,999.99') AS total_collected_in_payments
FROM transactions

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[('     4,472,181.82',)]

In [73]:
%%sql
-- 9(1). How many ride requests happened on ios?
SELECT
    COUNT(rr.ride_id) AS ios_ride_requests
FROM app_downloads ad
LEFT JOIN signups s
    ON ad.app_download_key = s.session_id
LEFT JOIN ride_requests rr
    ON s.user_id = rr.user_id
WHERE rr.user_id IN
    (SELECT s.user_id FROM signups s
     WHERE ad.platform = 'ios')

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(234693,)]

In [74]:
%%sql
-- 9(2). How many ride requests happened on android?
SELECT 
    COUNT(rr.ride_id) AS android_ride_requests
FROM app_downloads ad
LEFT JOIN signups s
    ON ad.app_download_key = s.session_id
LEFT JOIN ride_requests rr
    ON s.user_id = rr.user_id
WHERE rr.user_id IN
    (SELECT s.user_id FROM signups s
     WHERE ad.platform = 'android')

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(112317,)]

In [75]:
%%sql
-- 9(3). How many ride requests happened on the web?
SELECT 
    COUNT(rr.ride_id) AS web_ride_requests
FROM app_downloads ad
LEFT JOIN signups s
    ON ad.app_download_key = s.session_id
LEFT JOIN ride_requests rr
    ON s.user_id = rr.user_id
WHERE rr.user_id IN
    (SELECT s.user_id FROM signups s
     WHERE ad.platform = 'web')

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(38467,)]

In [76]:
%%sql
-- 10(1). What is the drop-off from users signing up to users requesting a ride?
SELECT
    COUNT(DISTINCT s.user_id) - COUNT(DISTINCT rr.user_id) AS user_dropoff_total
FROM signups s
LEFT JOIN ride_requests rr
    ON s.user_id = rr.user_id

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(5217,)]

In [59]:
%%sql
-- 10(2). What is the percentage rate of the drop-off from users signing up to users requesting a ride?
SELECT
    ROUND((1 - (COUNT(DISTINCT rr.user_id)::numeric / COUNT(DISTINCT s.user_id))), 1) *  100 AS user_dropoff_oercent
FROM signups s
LEFT JOIN ride_requests rr
    ON s.user_id = rr.user_id

 * postgresql://Test:***@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Metrocar
1 rows affected.

[(Decimal('30.0'),)]